
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <script type="text/javascript">
          function conf() {
            var con = confirm("정말로 삭제하시겠습니까?");
            if(con == true){
              alert("게시물을 삭제합니다.");
            }
          }
        </script>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/images/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent">
            <p>Come and join</p>
            <h2>JAMS</h2>
        </div>
    </section>
    <br/><br/>

    <!-- ##### Login Area Start ##### -->
    <section class="login-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="login-content">
                        <h3><%= jam.title %></h3>
                        <p> 🎼 원곡 🎼 </p>
                        <br/><br/><br/>
                        <!-- Login Form -->
                        <div class="login-form">
                            <form>
                                <div class="form-group">
                                    <label for="id"><strong>Hosted by</strong></label>
                                &nbsp;&nbsp;&nbsp; <a href="/user/<%= user._id %>"> <%= user.nickname %></a>
                                </div>
                                <div class="form-group">
                                    <label for="id"><strong>Needed Position</strong></label>
                                  &nbsp;&nbsp;&nbsp;   <%= jam.requiredPosition %>
                                </div>
                                <div class="form-group">
                                    <label for="id"><strong>Description</strong></label>
                                  &nbsp;&nbsp;&nbsp;   <%= jam.description %>
                                </div>
                                </form>
                                <br/><br/>
                                <audio preload="auto" controls>
                                    <source src="/audio/dummy-audio.mp3">
                                </audio>

                                <% if(loggedIn) { %>
                                  <% if(currentUser.id == user.id){ %>
                                <a href="/jam/edit/<%= jam._id %>">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/jam/delete/<%= jam._id %>?_method=DELETE" onclick="conf()">Delete Post</a>
                                <% } else{ %>
                                  <br/>
                                    <a href="/jam/join/<%= jam._id %>"><button type="button" class="btn btn-outline-primary">Jam 참여 답글달기</button></a>
                                <% } %>
                                <% } %>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div align="center">🎵</div>
          <section class="login-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="login-content">
                      <table class="table">
			<thead>
				<tr>
					<th scope="col">글쓴이</th>
					<th scope="col">제목</th>
				</tr>
			</thead>
			<tbody>
			<% joinedJam.forEach(j => { %>
					<tr>
						<td><a
							href="/user/<%= j.host %>"><%= j.hostNickname %></a></td>
						<td><a href="/jam/joined/detail/<%= j._id %>"><%= j.title %></a></td>
					</tr>
	        <% }); %>
			</tbody>
		</table>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    <!-- ##### Login Area End ##### -->

</body>
