
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <script type="text/javascript">
          function conf() {
            var con = confirm("정말로 탈퇴하시겠습니까?");
            if(con == true){
              alert("탈퇴를 진행합니다.");
            }
          }
        </script>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/images/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent">
            <p>Hello, <%= user.name %></p>
            <h2>MY PAGE</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Login Area Start ##### -->
    <section class="login-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="login-content">
                        <h3>Your Information</h3>
                        <!-- Login Form -->
                        <div class="login-form">
                            <form>
                              <div class="form-group">
                                  <label for="id"><strong>Name</strong></label>
                                  &nbsp;&nbsp;&nbsp;  <%= user.name %>
                              </div>
                                <div class="form-group">
                                    <label for="id"><strong>ID</strong></label>
                                &nbsp;&nbsp;&nbsp;     <%= user.id %>
                                </div>
                                <div class="form-group">
                                    <label for="id"><strong>Password</strong></label>
                                &nbsp;&nbsp;&nbsp;     <%= user.password %>
                                </div>
                                <div class="form-group">
                                    <label for="id"><strong>Nickname</strong></label>
                                  &nbsp;&nbsp;&nbsp;   <%= user.nickname %>
                                </div>
                                <div class="form-group">
                                    <label for="id"><strong>Email</strong></label>
                                  &nbsp;&nbsp;&nbsp;   <%= user.email %>
                                </div>
                                <div class="form-group">
                                    <label for="id"><strong>Position</strong></label>
                                  &nbsp;&nbsp;&nbsp;   <%= user.position %>
                                </div>
                                <div class="form-group">
                                    <label for="id"><strong>Profile</strong></label>
                                &nbsp;&nbsp;&nbsp;     <%= user.profile %>
                                </div>
                                </form>
                                <br/><br/>
                                <a href="/updateUser/<%= user._id %>">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/deleteUser/<%= user._id %>?_method=DELETE" onclick="conf()">Delete Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Login Area End ##### -->

</body>
